@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {    

    background-color:  #06214d;
    color: #F2E6C2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    

}

#principal  {
    
    text-align: center;
    font-family: serif;
    height: 137px;
    width: 407px;

    border-width: 2px;
    border-style: solid;
    border-color:#F2E6C2;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin:auto;




}

.lorem1 {

    text-align:center;
   




}

.personalizado {

    text-align: left;
    font-family: serif;








}


